{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-6 box-shadow p-5 bg-white rounded m-4">
    <div class="text-center mb-4">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/bs.png' %}" class="d-inline-block align-top img-fluid" alt="Brand Logo">
      </a>
    </div>
    <h1 class="text-center mb-4 text-blue">Reset Password</h1>

    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <p class="text-muted"><span class="text-blue"><b>Email ID :</b></span> <b>{{ user.email }}</b></p>
      </div>

      <div class="form-group">
        <label for="current_password" class="fw-bold">Current Password</label>
        <input type="password" class="form-control" id="current_password" name="current_password_name"
          placeholder="Enter current password" required>
      </div>

      <div class="form-group">
        <label for="new_password" class="fw-bold">New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password_name"
          placeholder="New password" required>
      </div>

      <div class="form-group">
        <label for="confirm_new_password" class="fw-bold">Confirm New Password</label>
        <input type="password" class="form-control" id="confirm_new_password" name="confirm_password_name"
          placeholder="Confirm new password" required>
      </div>



      <div class="d-grid mt-4">
        <button type="submit" id="password_reset_button" class="btn text-yellow">Reset Password</button>
        <p class="text-center mt-3">Back to profile <a href="{% url 'profile' %}" class="text-primary">Profile</a></p>
      </div>

      
    </form>

    {% if messages %}
    <div class="messages mt-3">
      {% for message in messages %}
      {% if message.tags == "error" %}
      <div class="alert alert-danger text-center" role="alert">
        {{ message }}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
  $('#password_reset_button').click(function () {
    // Optional: Make an AJAX request if needed, currently it's a normal form submission
  });
</script>
{% endblock %}